certifi==2021.10.8
charset-normalizer==2.0.12
clickhouse-driver==0.2.3
distlib==0.3.4
et-xmlfile==1.1.0
filelock==3.6.0
greenlet==1.1.2
idna==3.3
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.2
petl==1.7.9
platformdirs==2.5.2
pyodbc==4.0.32
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.36
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
virtualenv==20.14.1
